#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    padding: 2.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.pbandj:hover {
    filter: drop-shadow(0 0 2em #d509c8aa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(3) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

span {
    font-weight: 500;
}

input {
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid gray;
    border-radius: 4px;
    color: black;
    background-color: white;
    width: 80%;
}

button {
    background-color: white; /* White background */
    height: 36px;
    color: #333;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid rgb(62, 49, 218);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-vertical: 16px;
}

button img {
    width: 24px; /* Width of the image inside the button */
    height: auto; /* Auto height to maintain aspect ratio */
}

button:hover {
    background-color: #f0f0f0; /* Slightly different background color on hover */
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: black;
}

.modal__overlay {
    position: relative;
    width: 80%;
    max-width: 500px;
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.modal__title {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
}

.modal__content {
    margin-bottom: 2em;
    font-size: 1.2em;
}

.modal__lower {
    display: flex;
    justify-content: center;
    gap: 32px
}

.centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.simple-margin {
    margin: 1em;
}

.no-margin {
    margin: 0;
}

/* Add a background to the page with the image in ../public/background.png: */
body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* make the top half gradient into black the more top it is */
}
